<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890459659617-7996649go00davciphpn7cfhitna37ac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890459659617-7996649go00davciphpn7cfhitna37ac</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>890459659617-fodm0okhcfjflp3dbc1map7k8nrs1u0n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCr9l0kzeTQtGuiA_lF8DSTtOMlBKL5Q7k</string>
	<key>GCM_SENDER_ID</key>
	<string>890459659617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.jtcofficail</string>
	<key>PROJECT_ID</key>
	<string>jtcofficail-rka9ls</string>
	<key>STORAGE_BUCKET</key>
	<string>jtcofficail-rka9ls.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890459659617:ios:b0715abbb813af4484b920</string>
</dict>
</plist>